{% include 'base.html' %}
{% load static %}


{% block content %}

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>


        <div class="row">

            {% for product_image in products_images %}
                <div class="col-md-4">
                    <h2>{{ product_image.product.name }}</h2>
                    {{ products_image.image }}
                    <p> {{ product_image.product.description }} </p>
                    <div>
                        <img src="{{product_image.image}}" class="img-responsive">
                    </div>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                  </div>
            {% endfor %}

        </div>

        <hr>

{% endblock %}
